.chat-side{
	width: 300px;
	float: left;
	&-header{
		background-color: #253141;
		height: 100px;
		display: flex;
		align-items: center;
		padding: 0 20px;
		width: 300px;
		box-sizing: border-box;
		&__box{
			display: flex;
	    justify-content: space-between;
	    width: 100%;
	    font-weight: bold;
	    background-color: #253141;
	    color: #ffffff;
	    ul{
	    	font-size: 20px;
	    	float: right;
	    	color: white;
	    	display: flex;
	    		i{
	    			color: white;
	    		}
			}
		}
	}
	&-groups{
		height: calc(100vh - 100px);
		width: 300px;
		background-color: #2f3e51;
		padding: 20px 20px 0;
		overflow: scroll;
		box-sizing: border-box;
		&-group{
			margin-bottom: 40px;
			li {
				font-size: 11px;
				list-style: none;
				color: white;
				float: left;
			}
		}
	}
}