.chat-main{
	width: calc(100vw - 300px);
	background-color: #fafafa;
	float: right;
	position: relative;
	&-header{
		padding: 0 40px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100px;
		background-color: white;
		border-bottom: solid 1px #eee;
		&__left-box{
			width: 200px;
			h2 {
			font-size: 20px;
			margin-top: 30px;
			color: #333333;
			display: inline-block;
		}
				ul{
					color: #999999;
					font-size: 12px;
					margin-top: 15px;
				}
			}
			&__right-box{
	  		height:40px;
	  		width: 70px;
	  		background-color: white;
	  		border: solid 1px #38aef0;
	  		cursor: pointer;
	  		text-align: center;
	  		line-height: 40px;
	  		& a {
	  			text-decoration: none;
	  			color: #38aef0;
	  		}
			}
		}
    &-messages{
			height: calc(100vh - 190px);
			padding: 46px 40px;
			background-color: #fafafa;
			overflow: scroll;
			&-box{
				padding-bottom: 40px;
				&__upper-info{
					margin-bottom: 10px;
					display: flex;
					&__name{
						font-weight: bold;
						color: #434a54;
						display: inline-block;
					}
					&__date{
					    font-size: 12px;
					    display: inline-block;
					    margin-left: 10px;
					    color: #999999;
					}
				}
				&__text{
						color: #434a54;
						font-size: 14px;
				}
			}
		}
}
